* {
    text-decoration: none;
    top: 0;
    left: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Num {
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: 8rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 38rem;
    margin-top: 100px;
    align-items: center;
}
.Number {   
    display: flex;
    justify-content: center;
    gap: 50px;
}
#btn1,#btn2,#btn3 {
    margin-top: 50px;
    background-color: rgb(150, 221, 234);
    border-radius: 10px;
    padding: 20px;
    border-style: none;
}
#btn1:hover,#btn2:hover,#btn3:hover {
    color: white;
    background-color: antiquewhite;
    transition: 0.2s;
}