body {
    display: flex;
    justify-content: center;
}

table {
    border-style: solid;
    text-align: center;
}

th {
    width: 150px;
    font-size: 20px;
    border: 2px solid black;
    border-style: double;
}
td {
    border: 2px solid black;
    height: 50px;
}

#Model {
    font-size: 20px;
    background-color: yellow;
}

#Storage {
    font-size: 20px;
    background-color: yellow;
}

.row #Speci {
    border-style: double;
}